@{
    // Layout = null;
    ViewData["Title"] = "Person";
}
@model List<Person>
<h2>Index</h2>

<p>Hello from our View Template!</p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Server Name</th>
        </tr>

        @foreach (Person item in Model)
        {
        <tr>
            <td>@(item.Id)</td>
            <td>@(item.FirstName)</td>
            <td>@(item.MiddleName)</td>
            <td>@(item.LastName)</td>
            <td>@(item.ServerName)</td>
        </tr>
        }
    </table>
</div>

